<div class="container">
  <h1>Links</h1>
  <% @links_and_short_codes.each do |short_code, url| %>
    <div>
      <a href="<%= url %>">http://localhost:4567/<%= short_code %></a>
    </div>
  <% end %>
</div>
