<!DOCTYPE html>
<html>

<head>
  <title>Redis Link Shortener</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>

<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="http://localhost:4567" class="brand-logo">Redis Link Shortener</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="<%= url('/links') %>">All Links</a></li>
      </ul>
    </div>
  </nav>

  <%= yield %>
</body>
